<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsereTipoPessoa</servlet-name>
        <servlet-class>br.com.Controle.InsereTipoPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsereTipoAnimal</servlet-name>
        <servlet-class>br.com.Controle.InsereTipoAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTipoAnimal</servlet-name>
        <servlet-class>br.com.Controle.RemoveTipoAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserePessoa</servlet-name>
        <servlet-class>br.com.Controle.InserePessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePessoa</servlet-name>
        <servlet-class>br.com.Controle.RemovePessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsereAnimal</servlet-name>
        <servlet-class>br.com.Controle.InsereAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAnimal</servlet-name>
        <servlet-class>br.com.Controle.RemoveAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutenticaPessoa</servlet-name>
        <servlet-class>br.com.Controle.AutenticaPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaAnimal</servlet-name>
        <servlet-class>br.com.Controle.EditaAnimal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsereTipoPessoa</servlet-name>
        <url-pattern>/ITP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsereTipoAnimal</servlet-name>
        <url-pattern>/ITA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTipoAnimal</servlet-name>
        <url-pattern>/RTA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserePessoa</servlet-name>
        <url-pattern>/IP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePessoa</servlet-name>
        <url-pattern>/RP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsereAnimal</servlet-name>
        <url-pattern>/IA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAnimal</servlet-name>
        <url-pattern>/RA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutenticaPessoa</servlet-name>
        <url-pattern>/AP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaAnimal</servlet-name>
        <url-pattern>/EA</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
